{% extends "base.html" %} 
{% block title %} 
My diary 
{% endblock %}

{%block content %}
<div class="container py-4">
  <h2>My Diary</h2>
  <span
    style="
      display: inline-block;
      width: 20.5%;
      height: 4px;
      background-color: #ffd700;
      vertical-align: middle;
      margin-left: 0;
    "
  ></span>

  <div class="mb-3 pt-4 pb-0">
    <a href="/add_diary" class="btn btn-outline-dark btn-hollow w-100">
      <i class="bi bi-journal-plus me-2"></i>
      New entry
    </a>
  </div>

<div class="container py-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-header d-flex align-items-center bg-light">
      <span class="fw-bold">Octorber 24, 2024 14:30:00</span>
      <a href="/edit_diary" class="btn btn-sm btn-outline-secondary ms-2">Edit</a>
      <button aria-label="Delete" class="btn btn-sm btn-outline-danger ms-2"><i class="bi bi-trash"></i></button>
      <span class="badge bg-warning text-dark ms-auto">🎵</span>
    </div>
    <div class="card-body">
      <p class="card-text">
      I've never heard music from Martinique, absolutely fascinating album. I've heard of Calypso and Merengue, but never Biguine. Very fun listening experience!
      </p>
    </div>
    <div class="card-footer d-flex justify-content-between small text-muted">
      <span>Album: Calpyso-Biguine-Merengue</span>
    </div>
  </div>
</div>
{% endblock %}
