<!--
CS340 Final Project
By: Jorge Rodriguez and Antonio Olaguer II
December 2025
Citation: 
- Bootstrap componenets and structure from https://getbootstrap.com/docs/5.3/getting-started/introduction/
- Icons from https://icons.getbootstrap.com/
-->
{% extends "base.html" %} 
{% block title %}
Add Diary Entry
{% endblock %} 

{%block content %}
<div class="container py-5">
  <h2 class="fw-bold mb-3">Edit Diary Entry</h2>

  <!-- Short yellow line under heading -->
  <span style="
      display: inline-block;
      width: 12.5%;
      height: 4px;
      background-color: #ffd700;
      margin-bottom: 1rem;
    "></span>

  <form action="/api/edit_diary" method="POST">
    <!-- Entry Title -->
    <div class="mb-4">
      <label for="album_id" class="form-label fw-bold">{{ diary_entry.album_title }}</label>
    </div>

    <!-- Datetime -->
    <div class="mb-4">
      <label for="entry_datetime" class="form-label fw-bold">Date &amp; Time</label>
      <input type="datetime-local" class="form-control" id="entry_datetime" name="entry_datetime" required="" value="{{ diary_entry.diary_entry_datetime.strftime('%Y-%m-%dT%H:%M') }}" disabled>
    </div>

    <!-- Entry Content -->
    <div class="mb-4">
      <label for="entry_content" class="form-label fw-bold">Content</label>
      <textarea class="form-control" id="entry_content" name="entry_content" rows="8" required="" placeholder="">{{ diary_entry.diary_entry }}</textarea>
    </div>

    <!-- Hidden Values -->
    <input type="hidden" name="diary_entry_id" value="{{ diary_entry.diary_entry_id }}">

    <!-- Submit -->
    <button type="submit" class="btn w-100" style="
        background-color: #ffd700;
        color: #000;
        border-radius: 0;
        border: 2px solid #ffd700;
      ">
      <i class="bi bi-journal-plus me-2"></i> Save Entry
    </button>
  </form>
</div>
{% endblock %}
